@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

header{
    background-color: white;

    justify-content: space-between;
    justify-content: space-evenly;
    margin-right: 32px;
    justify-content: center;
}

.pageHeader{
    width: 100%;
    background-color: white;
    margin:0 auto;
    display: flex;
    max-width: 1200px;
}

.page-header{    
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-right: 32px;
}


.container{
    margin-left: 32px;
    color: #8c8c8c; 
    text-decoration: none;
    font-size:25px;
    font-family: 'Poppins', sans-serif; 
}

.activeContainer{
    background: #5377ac important;
    border-bottom: 8px double #8c8c8c;
}


.homeAboutContainer{
    justify-content: center space-between;
    font-size: '20px';
}

@media screen and (min-width: 768px){
    html{
        font-size: 13px;
    }
    .page-header{
        flex-direction: row;
    }
}

@media screen and (min-width: 568px){
    html{
        font-size: 11px;
    }
    .homeAboutContainer{
        flex-direction: row;
    }
    .container{
        margin-top: .2em;
    }
    
}

