@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


footer{
    position: fixed;
    padding: 8px;
    bottom: 0;
    background-color: white;
    width: 100%;

}
.icons{

    margin: 0 auto;
}
.icon{
    margin-left: 84px;
    margin-right: 0px;  
    justify-content: center;
    color: #8c8c8c;   
    font-size:50px !important;
    width:60px;

    display:center;

}
.page-footer {
    display: flex;
}
.copyright p{
    color: #8c8c8c; 
    text-align: center;   
    margin-bottom: 8px;
    margin-right: 35px;
}


